/* =========================================*/
/*              Guillermo Diañez            */
/*               DianezMotorsport           */
/*             proyecto pagina web          */  
/*                 para 1 DAM               */
/*              CPIFP ALAN TURING           */
/*==========================================*/
@font-face {
    font-family: DianezMotorsport;
    src: url(../fonts/Sunfish\ Original.otf);
}
/*Página home*/
.main{
    display: flex;
    flex-direction: column;
    background-color: black ;
    font-family: Arial, sans-serif;
    color: white;
    
    }
body {
    background-image:url(../img/fondo.jpg);
}
.hero{
    
    background-image: url(../img/hero.jpg);
    height: 40%;
    padding: 10%;
    
}
.hero h1 {
    color:#0abab5;
    font-size:500%;
    font-family: DianezMotorsport;
    font-weight: bold;
    text-align: center;
    border: solid;
    background-color: #ffffffb6;
    margin: auto;
    
}
.listas{
    margin-top: 10px;
    display: flex;
    justify-content: left;
    margin: auto;
    border: solid gold;
    padding: 3%;
    margin-bottom: 3%;
    width: 50%;

}
.lista{
    margin-right: 60px;
}

    


/*menu*/
.menu .logo{
    width: 7%;
    height: 7%;
    padding: 10px;
    
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0abab5;
    color: white;
    font-family: Arial, sans-serif;
    position:static;
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
}
.menu a:hover{
    display: block;
    color: black;
    transition: color 0.3s ease
}
/*footer*/
footer{
    background-color: #0abab5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
}
siguenos{
    float: left;
    margin-left: 10%;
}
siguenos img{
    opacity: 80%;
    margin-left: 10px;
}
siguenos img:hover{
    cursor:pointer;
    opacity:100%;
    transition: opacity 0.3s ease
}
textmenu{
    float: right;
    margin-right:10%;
    margin-top: 2.5%;
}
textmenu a{
    text-decoration: none;
    color: white;
}
textmenu a:hover{
    color: black;
    transition: color 0.3s ease
}
/*recursos generales*/
.Sobre-Nosotros{
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: center; 
    padding-bottom: 20px;
}
.Sobre-Nosotros h1{
    text-align: center;
    padding-top: 10px;
}
.Sobre-Nosotros p{
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}  
.Sobre-Nosotros img{
    width: 60%;
}
.categorias{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    

}
.categoria{
    display: flex;
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: white;
    opacity: 100%;
    flex-direction: column;
    margin-bottom: 10px;
    height: 600px;
    margin: auto;
    box-shadow: 10px 5px 5px #3f3e3e;
}
.categoria p{
    width: 600px;
}
.categoria a{
    display: flex;
    text-decoration: none;
    color: yellow;
    font-weight: bold;
    width: 19%;
    padding: 10px;
    margin: auto;
}
.categoria a:hover{
    background-color: #1f1e1e;
  
}


/*página resistencia*/
hero-resistencia{
    display: block;
    background-image: url(../img/resistencia-hero.jpg);
    height: 40%;
    padding: 10%;
}
hero-resistencia h1{
    color:#0abab5;
    font-size:500%;
    font-family: DianezMotorsport;
    text-align: center;
    border: solid;
    background-color: #ffffffb6;
    margin: auto;
}

/*página IMSA*/
.hero-IMSA{
    display: flex;
    background-image: url(../img/imsa-hero.jpg); 
    padding: 10%;
    align-items: center;
    justify-content: center;
    height: 150px;
}
.hero-IMSA img{
    display: block;
    position: relative;
    
}
/*pagina WEC*/
.hero-wec{
    display: flex;
    background-image: url(../img/wec-hero.jpg); 
    padding: 10%;
    align-items: center;
    justify-content: center;
    height: 150px;

}
/* página fórmula*/
.hero-formula{
    display: flex;
    background-image: url(../img/f1-hero.jpg); 
    padding: 10%;
    align-items: center;
    justify-content: center;
}
.hero-formula h1{
    color:#0abab5;
    font-size:500%;
    font-family: DianezMotorsport;
    text-align: center;
    border: solid;
    background-color: #ffffffb6;
    width:500%;
    margin: auto;

}
/*pagina f1*/
.hero-f1{
    display: flex;
    background-image: url(../img/f1-hero.avif); 
    padding: 10%;
    align-items: center;
    justify-content: center;
    background-position: 20%;
    height:150px ;
    

}
/*pagina indy*/
.hero-indy{
    display: flex;
    background-image: url(../img/indy-hero.jpg); 
    padding: 10%;
    align-items: center;
    justify-content: center;
    background-position-x: 80%;
    background-position-y: 30%;
    height:150px ;
}
/*categorias*/
.informacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding-bottom: 10px;
}
.calendario{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-right: 30px;
    
}
.calendario td, .calendario th{
    border: 1px solid #ddd;
    padding: 8px;
    
}
.calendario table{
    border-collapse: collapse;
    color: #ddd;
}

/*formulario*/

 .formtexto{
    display: flex;
    flex-direction: column;
    padding-bottom:30px ;
    flex-wrap: nowrap;
    margin-left:20%;
    margin-right:20%
}

.formulario h1{
    color:#0abab5;
    font-size:500%;
    font-family: DianezMotorsport;
}
.formscheck {
    margin-left:20%;
    margin-right:20%;
    margin-bottom: 30px;

}

.formulario input{
    padding-right: 15%;;
}
.formulario input[id="Edad"]{
    padding: 0%;
}


.formulario label{
    font-size: large;
}
.mapa iframe{
    margin-left:20%;
    margin-right:20%;
    margin-bottom: 30px;
    width: 60%;
}
.mapa{
    text-align: center;
}

.botonmas{
    background-color: #04AA6D;
    padding: 1%;
    opacity: 80%;
}
.botonmas:hover{
    cursor: pointer;
    opacity: 100%;
    transition: color 0.3s ease
}
.botonmas p{
    color: white;
    text-decoration: none;
    text-decoration: dashed;
}



@media screen and (width<650px){
    .categoria {
        width: 80%;
    }
    .categoria img{
        width: 100%;
        height: 50%;
    }
    .categoria p{
        width: 100%;
        text-align:left
    }
    .menu a {
        font-size: 12px;
    }
    .informacion{
        flex-direction: column;
    }
    .informacion iframe{
        width: 100%;
    }
    .calendario table{
        font-size:65%;
        width:100%;
    }
    .hero-f1 img{
        width: 80%;
    }
    .hero-IMSA img {
        width: 80%;
    }
    .hero-indy img{
        width: 60%;
    }
    .hero-wec img {
        width: 80%;
    }
    .listas{
        flex-direction: column;
        padding: 0;
        border: none;
        width: 80%;
    }
    .lista h1{
        font-size:medium;
        
    }


}








