/* =========================================*/
/*                                          */
/*              Guillermo Diañez            */
/*               DianezMotorsport           */
/*             proyecto pagina web          */  
/*==========================================*/
@font-face {
    font-family: DianezMotorsport;
    src: url(../fonts/BrittanySignature.ttf);
}
.main{
    background-color: black ;
    margin: 5%;
    font-family: Arial, sans-serif;
    }
body {
    background-image:url(../img/fondo.jpg);
}
.hero{
    background-image: url(../img/hero.jpg);
    height: 40%;
    padding: 10%;
    
}
.hero h1 {
    color:#0abab5;
    font-size: 5em;
    font-family: DianezMotorsport;
    font-weight: bold;
    text-align: center;

}
.hero h2 {
    text-align: center;
    color: black;
    

}




